*{
    font-family: "Nunito", "Arial", sans-serif;
}

body{
    padding: 15px;
    background-color:rgb(240, 228, 228);
}
h1#header{
    margin: 20px auto 10px auto;
	padding: 45px;
    border-top: 8px solid blue;
    border-left: 8px solid green;
    border-radius: 12px;
    width: 47%;
    background-color: white;
    height: 30%;
}
div.box{
    margin: 20px auto 10px auto;
	padding: 45px;
    border-top: 8px solid blue;
    border-left: 8px solid green;
    border-radius: 12px;
    width: 47%;
    background-color: white;
    height: 30%;
}
span#required{
    color: red
}
input[type="text"]{
    border: none;
	border-bottom: 1.5px solid #29b6f6;
	min-width: 25%;
    font-size: 18px;
}
input[type="submit"]{
    float:right;
    background-color: #4386fc;
    color: white;
    border: none;
    margin: 10px auto;
    cursor: pointer;
    height: 40%;
    width: 8%;padding: 10px;
    border-radius: 10px;

}
p{
    font-size: 25px;
}
input[type="number"]{
    border: none;
	border-bottom: 1.5px solid #29b6f6;
	min-width: 25%;
    font-size: 18px;
}
textarea{
    width: 98%;
    height: 100px;
}
